@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap");

@import "tailwindcss";

:root {
  --primaryColor: #0355ac;
  --primarySubtleColor: #d8ebff;
  --secondaryColor: #7b70ef;
  --secondarySubtleColor: #e7e5fd;
  --successColor: #02bc9c;
  --successSubtleColor: #d9f5f0;
  --infoColor: #5bc3e1;
  --infoSubtleColor: #e6f6fb;
  --warningColor: #f9bf59;
  --warningSubtleColor: #fef5e6;
  --dangerColor: #f7577e;
  --dangerSubtleColor: #fee6ec;
  --purpleColor: #770ecd;
  --purpleSubtleColor: #f7e7ff;
  --whiteColor: #ffffff;
  --subtleBg: #fafafa;
  --blackColor: #000000;
  --darkColor: #313a46;
  --grayColor: #fafafa;
  --textBody: #444444;
  --textBodySecondary: #666666;
  --textLight: #cccccc;
  --borderColor: #e9e9e9;

  --fs10: 0.75rem;
  --fs11: 0.8rem;
  --fs12: 0.85rem;
  --fs14: 1rem;
  --fs16: 1.143rem;
  --fs18: 1.286rem;
  --fs20: 1.5rem;
  --fs22: 1.65rem;
  --fs24: 1.75rem;
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Baloo Bhai 2", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  color: var(--textBody);
}
